

    <div class="container pt-5">

        <div class="row pb-3 ">
            <a class="w-25" href="/admin/add-user"> {{!-- user adding option --}}
            <button type="button" class="btn btn-success">Add User +</button>
            </a>
        </div>

        <table id="userTable" class="table table-light">
  <thead>
    <tr class="text-center">
      <th scope="col">No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr class="text-center">
      <td scope="row">{{ @index}}</td>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.email}}</td>
      <td>
        <a href="/admin/edit-user/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm ('Are you sure to delete {{this.email}}?')">Delete</a>
      </td>
      
     
    </tr>

    {{/each}}
   
  </tbody>
</table>
    </div>

    <script>
      $(function(){
        $('#userTable').DataTable();
      })
    </script>
    
    
    

